body{
  position: relative;
  background-image: url('/images/background-image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}